@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");
.button {
  border-radius: 3px;
  border: none;
  color: white;
  font-family: 'Nunito', sans-serif;
}

.big {
  max-width: 185px;
  height: 40px;
}

.light {
  background-color: #FFBD00;
}

.dark {
  background-color: #E15601;
}

.middle {
  width: 160px;
  height: 40px;
}

.little {
  width: 126px;
  height: 40px;
}

.body {
  font-family: 'Nunito', sans-serif;
  max-width: 1440px;
}

/**************** header ***************/
.menu-hamb,
.hd-mobile,
.header__tel-mb,
.header__location-mb {
  display: none;
}

.header {
  font-size: 15px;
  font-weight: 600;
  line-height: 11px;
  font-family: 'Nunito', sans-serif;
  color: #807C7C;
}

.header img {
  max-width: 100%;
}

.header__links {
  list-style-type: none;
  padding: 0;
  margin: auto 0;
}

.header__links li {
  display: inline-block;
}

.header__links li a {
  display: block;
  text-decoration: none;
  color: #807C7C;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
}

.header__links li a:hover {
  color: #474545;
}

.header__links li a::first-letter {
  text-transform: uppercase;
}

.general-mnu,
.mnu {
  margin: 0 auto;
  max-width: 85%;
}

.general-mnu {
  height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.general-mnu-bg {
  background-color: rgba(239, 249, 240, 0.5);
}

.general-mnu__link {
  padding-right: 40px;
}

.general-mnu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0;
}

.general-mnu__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.general-mnu__lng {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 11px;
  text-transform: uppercase;
  color: #E15601;
  display: block;
  text-decoration: none;
}

.general-mnu__lng:hover {
  color: #474545;
}

.general-mnu__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
}

.general-mnu__location-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 11px;
  text-decoration: none;
  color: #807C7C;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.general-mnu__location-link:hover {
  color: #474545;
}

.header .city {
  display: inline-block;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.mnu {
  height: 79px;
  /*padding-bottom: 11px;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*background-color: aquamarine;*/
}

.mnu__left,
.mnu__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mnu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mnu__link {
  padding-right: 30px;
}

.header .logo {
  max-width: 250px;
  min-width: 150px;
  margin-top: -12px;
}

.header__tel-img {
  display: none;
}

.header__tel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 40px;
  margin-top: 22px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__tel {
  color: #4E8A6B;
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 5px;
  text-decoration: none;
}

.header__tel:hover {
  color: #474545;
}

.header__tel-num {
  margin: 0;
}

.header__connect {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 5px;
}

.btn-txt-red {
  color: #E15601;
  font-size: 15px;
  font-weight: 600;
  line-height: 13.5px;
  letter-spacing: 1.5%;
}

.btn-txt-red:hover {
  color: #FFF;
}

.popup {
  display: none;
}

@media screen and (max-width: 1200px) {
  .general-mnu,
  .mnu {
    margin: 0 auto;
    max-width: 90%;
  }
  .mnu__link {
    padding-right: 15px;
  }
  .header__tel-info {
    margin-right: 10px;
  }
  .header__tel {
    font-size: 20px;
  }
}

@media screen and (max-width: 966px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #FFF;
    width: 100%;
  }
  .main-view {
    margin-top: 79px;
  }
  .general-mnu-bg {
    display: none;
  }
  .menu-hamb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* width: 30px;
        height: 40px;
        position: relative;
        z-index: 2;
        overflow: hidden;
        */
  }
  .menu-hamb__field {
    padding: 10px 30px 10px 0;
    cursor: pointer;
    position: relative;
  }
  .menu-hamb span {
    display: block;
    width: 30px;
    height: 3px;
    /*  position: absolute;*/
    margin: 9px auto;
    background-color: #4E8A6B;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  /*
    .menu-hamb span:nth-of-type(2) {
        top: calc(50% - 10px);
    }

    .menu-hamb span:nth-of-type(3) {
        top: calc(50% + 10px);
    }*/
  /* Меняем гамбургер иконку, когда меню открыто 
    .menu-hamb__field.active span:nth-of-type(1) {
        top: 50%;
        transform: rotate(45deg) translate(0px, -50%);


    }

    .menu-hamb__field.active span:nth-of-type(2) {

        transform: scale(0) translate(0px, -50%);

    }

    .menu-hamb__field.active span:nth-of-type(3) {

        top: -10px;
        transform: rotate(-45deg) translate(0px, -50%);

    }*/
  /* ******************************************* */
  .header .logo {
    margin-top: 0;
  }
  .mnu__left .mnu__links {
    display: none;
  }
  .mnu__links.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .general-mnu,
  .mnu {
    margin: 0 auto;
    max-width: 95%;
  }
  .mnu__link {
    padding: 15px;
  }
  .header__tel {
    font-size: 20px;
  }
  .header__location-mb {
    display: block;
    min-width: 40px;
  }
  .header__tel-info {
    margin-right: 20px;
  }
  /* Меню, которое будет появляться */
  .popup {
    position: fixed;
    top: 79px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .popup.open {
    left: 0;
  }
  .popup .mnu__links {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 20px 0;
    overflow: scroll;
    text-transform: capitalize;
  }
  .popup .mnu__links > ul {
    margin: auto;
  }
  .popup .mnu__links > li {
    width: 100%;
  }
  .popup .mnu__links > li > a {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0;
    font-size: 30px;
    font-weight: 600px;
    color: #807C7C;
    font-family: 'Nunito', sans-serif;
  }
  body.noscroll {
    overflow: hidden;
  }
}

@media screen and (max-width: 625px) {
  .menu-hamb__field {
    padding: 10px 20px 10px 0;
  }
  .header__tel-info {
    display: none;
  }
  .header__tel-mb,
  .header__location-mb {
    display: block;
  }
  .header__tel-mb {
    min-width: 30px;
  }
}

/****************** header end **********/
.currency {
  background-color: #eff9f080;
  font-family: 'Nunito', sans-serif;
}

.currency .currency_content {
  height: 100%;
  display: -ms-grid;
  display: grid;
  padding-top: 5px;
}

.currency_content_exchange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin: 5px;
  border-radius: 3px;
  background-color: white;
  -webkit-box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.07);
          box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.07);
}

.currency_content_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #373535;
}

.currency_content_items .currency_content_items_img {
  padding-right: 10px;
}

.exchange_output {
  padding-left: 5px;
}

.exchange_input {
  border: none;
  width: 70%;
  outline: none;
  padding-left: 5px;
}

.select_valute {
  border: none;
  outline: none;
}

.pay_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1440px) {
  .currency_content {
    -ms-grid-columns: 20% 15% 15% 15% 15% 20%;
        grid-template-columns: 20% 15% 15% 15% 15% 20%;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .main-view_content {
    margin-left: 230px;
  }
  .slider__item {
    height: 77vh;
  }
  .main-view {
    height: 77vh;
  }
  .big {
    width: 185px;
  }
}

@media screen and (max-width: 767px) {
  .hidden {
    display: none;
  }
  .currency_content {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .main-view_content {
    margin-left: 20px;
  }
  .big {
    width: 100px;
  }
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

.first-item {
  background-image: url("/assets/mainPage/hand.png");
  background-repeat: no-repeat;
}

.second-item {
  background-image: url("/assets/page2/main2.png");
  background-repeat: no-repeat;
}

.main-view_content_text {
  font-size: calc(24px + 26 * (100vw / 1280));
  color: white;
  font-family: 'Nunito', sans-serif;
}

.main-view_content_text span {
  color: #E15601;
}

.second-item .main-view_content_text {
  color: #4E8A6B;
}

.main-view_content_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  border-left: 4px solid #4E8A6B;
  font-family: 'Nunito', sans-serif;
  color: #373535;
}

.main-header {
  font-family: 'Nunito', sans-serif;
  font-size: calc(15px + 20 * (100vw / 1280));
  color: #373535;
}

.entry_form {
  border: none;
}

.entry__content_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10px;
}

.help-massage {
  font-size: calc(5px + 5 * (100vw / 1280));
  color: #807C7C;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  width: 50%;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
}

.modal-content__text {
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  text-align: end;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.credits {
  position: relative;
}

.credits__bg {
  position: absolute;
  width: 100%;
  height: 285px;
  background: rgba(239, 228, 213, 0.4);
  border-radius: 3px;
  z-index: 1;
  top: 145px;
}

.credits__wrapper {
  position: relative;
  margin: 0 auto;
  /*width: 85%;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  max-width: 1320px;
}

.credits img {
  min-width: 100%;
  width: 30%;
}

.credits__name {
  /* calc(15px + 20 * (100vw / 1280));*/
  font-size: calc((100vw - 480px)/(1440 - 480) * (35 - 20) + 20px);
  color: #373535;
  font-style: normal;
  font-weight: 400;
  line-height: 65px;
  margin-top: 60px;
}

.credit__links {
  list-style-type: none;
  border-left: #4E8A6B 2px solid;
  margin-top: 45px;
}

.credit__link a {
  font-style: normal;
  font-weight: 400;
  font-size: calc((100vw - 480px)/(1440 - 480) * (20 - 15) + 15px);
  line-height: 46px;
  letter-spacing: 0.035em;
  text-decoration: none;
  color: #807C7C;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
}

.credit__link a:hover {
  color: #E15601;
  border-bottom: 2px solid #4E8A6B;
}

@media screen and (max-width: 1200px) {
  .credits__wrapper {
    max-width: 1140px;
  }
}

@media screen and (max-width: 992px) {
  .credits__wrapper {
    max-width: 100%;
  }
  .credits__info {
    margin-left: 50px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .credits__img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    /*margin-right: -20px;*/
    position: absolute;
    right: -190px;
  }
  .credit__link a {
    /* line-height: 26px;*/
    color: #373535;
  }
  .credits img {
    min-width: 100%;
    width: 20%;
  }
  .credit__links {
    margin-bottom: 11rem;
  }
}

@media screen and (max-width: 768px) {
  .credits__wrapper {
    max-width: 720px;
  }
  .credits__info {
    margin-left: 10px;
  }
}

@media screen and (max-width: 576px) {
  .credits__wrapper {
    max-width: 540px;
  }
  .credits__img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    /*margin-right: -20px;*/
    position: absolute;
    right: -60%;
  }
}

.loancalc {
  max-width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding-top: 15px;
}

#tabs .tab {
  display: inline-block;
  font-weight: 400;
  font-size: calc(15px + 20 * (100vw / 1280));
  line-height: 65px;
  color: #807C7C;
}

#tabs .whiteborder {
  font-weight: 400;
  font-size: calc(15px + 20 * (100vw / 1280));
  line-height: 65px;
  color: #373535;
}

#tabs .tabContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 3fr 1fr;
      grid-template-rows: 3fr 1fr;
}

#tabs .tabContent .tabContentR {
  display: -ms-grid;
  display: grid;
  font-size: 15px;
  color: #373535;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#tabs .tabContent .tabContentL {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  font-size: 15px;
  color: #373535;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 10px;
}

#tabs .tabContent .tabContentRtext {
  font-size: 10px;
  color: #807C7C;
  width: 95%;
}

#tabs .tabContent .tabContentLrate {
  display: -ms-grid;
  display: grid;
  width: 90%;
  -ms-grid-columns: 0.5fr 2fr 2fr;
      grid-template-columns: 0.5fr 2fr 2fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  font-size: 10px;
  color: #807C7C;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  max-width: 95%;
}

#tabs .tabContent .tabContentLpay {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  font-size: 10px;
  color: #807C7C;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  max-width: 95%;
}

#tabs .tabContent #rangeKreditRate,
#tabs .tabContent #rangeIpotekaRate,
#tabs .tabContent #rangeStrahRate {
  font-size: 30px;
  color: #F9A123;
}

#tabs .tabContent #rangeKreditPayment,
#tabs .tabContent #rangeIpotekaPayment,
#tabs .tabContent #rangeStrahPayment {
  font-size: 30px;
  color: #4E8A6B;
}

#tabs .tabContent .rangekreditpayment_text {
  margin-left: 10%;
}

#tabs .hide {
  display: none;
}

#tabs .show {
  display: -ms-grid;
  display: grid;
}

.range {
  width: 90%;
}

.range__value {
  text-align: right;
}

.form-group {
  display: -ms-grid;
  display: grid;
  font-size: 15px;
  line-height: 65px;
  color: #373535;
}

.range__text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.range__slider [type="range"] {
  width: 100%;
  -webkit-appearance: none;
  height: 2px;
  border-radius: 6px;
  background: #f1f1f1;
  border-radius: 3px;
}

/* custom thumb */
.range__slider [type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FFFFFF;
  border: #E15601 5px solid;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}

.range__slider [type="range"]::-webkit-slider-thumb:hover {
  background: #f0932b;
}

.range__slider [type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border: 0;
  border-radius: 50%;
  background: #f0932b;
  border: #f9ca24 5px solid;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}

.range__slider [type="range"]::-moz-range-thumb:hover {
  background: #f9ca24;
}

/* remove border */
input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

@media screen and (max-width: 767px) {
  .loancalc,
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  #tabs,
  #tabs .tabContent,
  #tabs .tabContentL {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  #tabs .hide {
    display: none;
  }
  #tabs .show {
    display: -ms-grid;
    display: grid;
  }
}

.mobile-bank {
  background-image: url("/assets/mobile/Rectangle 130.png");
  background-position: center;
  background-repeat: no-repeat;
}

.mobile-bank__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-bank__content_header {
  font-size: calc(15px + 15 * (100vw / 1280));
  margin-bottom: 25px;
}

.mobile-bank__content_info {
  border-left: 4px solid #4E8A6B;
  padding-left: 10px;
  font-size: calc(10px + 10 * (100vw / 1280));
  margin-bottom: 25px;
}

.download-link {
  text-decoration: none;
  padding-left: 10px;
}

@media screen and (max-width: 767px) {
  .mobile-bank__bank,
  .mobile-bank__img {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 930px) {
  .mobile-bank__bank {
    display: none;
  }
}

.footer {
  margin: 0 auto;
  height: 582px;
  max-width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content max-content max-content max-content max-content;
      grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content;
      grid-template-rows: max-content max-content max-content max-content max-content;
  background: rgba(239, 249, 240, 0.5);
  font-weight: 300;
  font-size: 15px;
  line-height: 13px;
  padding-top: 70px;
}

.footer .footer_part1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.footer .footer_part2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-top: 48px;
  margin-bottom: 48px;
}

.footer .footer_part3 {
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

.footer .footer_part4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 97px;
  font-size: 12px;
}

.footer .footer_part5 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-weight: 600;
  font-size: 12px;
  line-height: 11px;
  color: #807C7C;
}

.footer input {
  width: 318px;
  height: 47px;
  background: #FFFFFF;
  border-radius: 3px;
  border: none;
}

.footer .text-find::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 15px;
  line-height: 11px;
  letter-spacing: 0.035em;
  text-transform: capitalize;
  color: #E15601;
  padding-left: 5px;
}

.footer .text-find:-ms-input-placeholder {
  font-weight: 600;
  font-size: 15px;
  line-height: 11px;
  letter-spacing: 0.035em;
  text-transform: capitalize;
  color: #E15601;
  padding-left: 5px;
}

.footer .text-find::-ms-input-placeholder {
  font-weight: 600;
  font-size: 15px;
  line-height: 11px;
  letter-spacing: 0.035em;
  text-transform: capitalize;
  color: #E15601;
  padding-left: 5px;
}

.footer .text-find::placeholder {
  font-weight: 600;
  font-size: 15px;
  line-height: 11px;
  letter-spacing: 0.035em;
  text-transform: capitalize;
  color: #E15601;
  padding-left: 5px;
}

.footer a {
  text-decoration: none;
  color: #373535;
}

.footer .footer-footer_part1__big {
  text-transform: uppercase;
}

.footer .footer_part1__link {
  display: -ms-grid;
  display: grid;
}

.footer .footer_part1__tel {
  font-weight: 700;
  font-size: 29px;
  line-height: 11px;
  text-transform: capitalize;
  color: #4E8A6B;
}

.footer .footer_part1__textfortel {
  font-weight: 600;
  font-size: 12px;
  line-height: 11px;
  color: #807C7C;
}

.footer .social-network__link {
  -ms-grid-column-align: end;
      justify-self: end;
  padding-right: 135px;
}

.footer .social-network__img {
  padding-left: 45px;
}

.new-page__text {
  color: #E15601;
  text-align: center;
}

.new-page {
  background: rgba(239, 249, 240, 0.5);
}
/*# sourceMappingURL=style.css.map */