@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");

.button {
  border-radius: 3px;
  border: none;
  color: white;
  font-family: "Nunito", sans-serif;
}

.big {
  max-width: 185px;
  height: 40px;
}

.light {
  background-color: #FFBD00;
}

.dark {
  background-color: #E15601;
}

.middle {
  width: 160px;
  height: 40px;
}

.little {
  width: 126px;
  height: 40px;
}

.body {
  font-family: "Nunito", sans-serif;
}

/**************** header ***************/
.menu-hamb,
.hd-mobile,
.header__tel-mb,
.header__location-mb {
  display: none;
}

.header {
  font-size: 15px;
  font-weight: 600;
  line-height: 11px;
  font-family: "Nunito", sans-serif;
  color: #807C7C;
}

.header img {
  max-width: 100%;
}

.header__links {
  list-style-type: none;
  padding: 0;
  margin: auto 0;
}

.header__links li {
  display: inline-block;
}

.header__links li a {
  display: block;
  text-decoration: none;
  color: #807C7C;
  transition: color 0.4s ease;
}

.header__links li a:hover {
  color: #474545;
}

.header__links li a::first-letter {
  text-transform: uppercase;
}

.general-mnu,
.mnu {
  margin: 0 auto;
  max-width: 85%;
}

.general-mnu {
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.general-mnu-bg {
  background-color: rgba(239, 249, 240, 0.5);
}

.general-mnu__link {
  padding-right: 40px;
}

.general-mnu__links {
  display: flex;
  align-items: center;
  margin: auto 0;
}

.general-mnu__right {
  display: flex;
  align-items: center;
}

.general-mnu__lng {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 11px;
  text-transform: uppercase;
  color: #E15601;
  display: block;
  text-decoration: none;
}

.general-mnu__lng:hover {
  color: #474545;
}

.general-mnu__location {
  display: flex;
  align-items: center;
  padding: 0 40px;
}

.general-mnu__location-link {
  display: flex;
  padding: 0 11px;
  text-decoration: none;
  color: #807C7C;
  align-items: center;
}

.general-mnu__location-link:hover {
  color: #474545;
}

.header .city {
  display: inline-block;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.mnu {
  height: 79px;
  /*padding-bottom: 11px;*/
  display: flex;
  justify-content: space-between;
  /*background-color: aquamarine;*/
}

.mnu__left,
.mnu__right {
  display: flex;
  align-items: center;
}

.mnu__links {
  display: flex;
}

.mnu__link {
  padding-right: 30px;
}

.header .logo {
  max-width: 250px;
  min-width: 150px;
  margin-top: -12px;
}

.header__tel-img {
  display: none;
}

.header__tel-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 40px;
  margin-top: 22px;
  justify-content: center;
}

.header__tel {
  color: #4E8A6B;
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 5px;
  text-decoration: none;
}

.header__tel:hover {
  color: #474545;
}

.header__tel-num {
  margin: 0;
}

.header__connect {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 5px;
}

.btn-txt-red {
  color: #E15601;
  font-size: 15px;
  font-weight: 600;
  line-height: 13.5px;
  letter-spacing: 1.5%;
}

.btn-txt-red:hover {
  color: #FFF;
}

.popup {
  display: none;
}

@media screen and (max-width: 1200px) {

  .general-mnu,
  .mnu {
    margin: 0 auto;
    max-width: 90%;
  }

  .mnu__link {
    padding-right: 15px;
  }

  .header__tel-info {
    margin-right: 10px;
  }

  .header__tel {
    font-size: 20px;
  }
}

@media screen and (max-width: 966px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #FFF;
    width: 100%;
  }

  .main-view {
    margin-top: 79px;
  }

  .general-mnu-bg {
    display: none;
  }

  .menu-hamb {
    display: flex;
    align-items: center;
    /* width: 30px;
    height: 40px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    */
  }

  .menu-hamb__field {
    padding: 10px 30px 10px 0;
    cursor: pointer;
  }

  .menu-hamb span {
    display: block;
    width: 30px;
    height: 3px;
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    */
    margin: 9px auto;
    background-color: #4E8A6B;
    transition: all 0.5s;
  }

  /*.menu-hamb span:nth-of-type(2) {
      top: calc(50% - 10px);
  }

  .menu-hamb span:nth-of-type(3) {
      top: calc(50% + 10px);
  }*/
  /* Меняем гамбургер иконку, когда меню открыто */
  .menu-hamb.active span:nth-of-type(1) {
    display: none;
  }

  .menu-hamb.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }

  .menu-hamb.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }

  .header .logo {
    margin-top: 0;
  }

  .mnu__left .mnu__links {
    display: none;
  }

  .mnu__links.active {
    transform: translateX(0);
  }

  .general-mnu,
  .mnu {
    margin: 0 auto;
    max-width: 95%;
  }

  .mnu__link {
    padding: 15px;
  }

  .header__tel {
    font-size: 20px;
  }

  .header__location-mb {
    display: block;
    min-width: 40px;
  }

  .header__tel-info {
    margin-right: 20px;
  }

  /* Меню, которое будет появляться */
  .popup {
    position: fixed;
    top: 79px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }

  .popup.open {
    left: 0;
  }

  .popup .mnu__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0;
    overflow: scroll;
    text-transform: capitalize;
  }

  .popup .mnu__links>ul {
    margin: auto;
  }

  .popup .mnu__links>li {
    width: 100%;
  }

  .popup .mnu__links>li>a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 30px;
    font-weight: 600px;
    color: #807C7C;
    font-family: "Nunito", sans-serif;
  }

  body.noscroll {
    overflow: hidden;
  }
}

@media screen and (max-width: 625px) {
  .menu-hamb__field {
    padding: 10px 20px 10px 0;
  }

  .header__tel-info {
    display: none;
  }

  .header__tel-mb,
  .header__location-mb {
    display: block;
  }

  .header__tel-mb {
    min-width: 30px;
  }
}

/****************** header end **********/
.currency {
  background-color: #eff9f080;
  height: 22vh;
  font-family: "Nunito", sans-serif;
}

.currency .currency_content {
  height: 100%;
  display: grid;
  padding-top: 5px;
}

.currency_content_exchange {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 5px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.07);
}

.currency_content_items {
  display: flex;
  color: #373535;
}

.currency_content_items .currency_content_items_img {
  padding-right: 10px;
}

.exchange_output {
  padding-left: 5px;
}

.exchange_input {
  border: none;
  width: 70%;
  outline: none;
  padding-left: 5px;
}

.select_valute {
  border: none;
  outline: none;
}

@media screen and (max-width: 1440px) {
  .currency_content {
    grid-template-columns: 20% 15% 15% 15% 15% 20%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .main-view_content {
    margin-left: 230px;
  }

  .slider__item {
    height: 77vh;
  }

  .main-view {
    height: 77vh;
  }

  .big {
    width: 185px;
  }
}

@media screen and (max-width: 767px) {
  .hidden {
    display: none;
  }

  .currency_content {
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .main-view_content {
    margin-left: 20px;
  }

  .big {
    width: 100px;
  }
}

.slider__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.first-item {
  background-image: url("/assets/mainPage/hand.png");
  background-repeat: no-repeat;
}

.second-item {
  background-image: url("/assets/page2/main2.png");
  background-repeat: no-repeat;
}

.main-view_content_text {
  font-size: calc(24px + 2.03125vw);
  color: white;
  font-family: "Nunito", sans-serif;
}

.main-view_content_text span {
  color: #E15601;
}

.second-item .main-view_content_text {
  color: #4E8A6B;
}

.main-view_content_list {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  border-left: 4px solid #4E8A6B;
  font-family: "Nunito", sans-serif;
  color: #373535;
}

.main-header {
  font-family: "Nunito", sans-serif;
  font-size: calc(15px + 1.5625vw);
  color: #373535;
}

.entry_form {
  border: none;
}

.entry__content_form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.help-massage {
  font-size: calc(5px + 0.390625vw);
  color: #807C7C;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  width: 50%;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
}

.modal-content__text {
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  text-align: end;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#tabs .tab {
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
  line-height: 65px;
  color: #807C7C;
  padding-left: 130px;
  padding-right: 106px;
}

#tabs .whiteborder {
  font-weight: 400;
  font-size: 35px;
  line-height: 65px;
  color: #373535;
  padding-right: 10px;
}

#tabs .tabContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  padding-left: 139px;
  padding-right: 106px;
}

#tabs .tabContent .tabContentR {
  display: grid;
  font-size: 15px;
  color: #373535;
  align-items: center;
}

#tabs .tabContent .tabContentL {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 15px;
  color: #373535;
  align-content: center;
  margin-left: 10px;
}

#tabs .tabContent .tabContentRtext {
  font-size: 10px;
  color: #807C7C;
  width: 95%;
}

#tabs .tabContent .tabContentLrate {
  display: grid;
  width: 90%;
  grid-template-columns: 0.5fr 2fr 2fr;
  grid-template-rows: 1fr;
  font-size: 10px;
  color: #807C7C;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  max-width: 95%;
}

#tabs .tabContent .tabContentLpay {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  font-size: 10px;
  color: #807C7C;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  max-width: 95%;
}

#tabs .tabContent #rangeKreditRate,
#tabs .tabContent #rangeIpotekaRate,
#tabs .tabContent #rangeStrahRate {
  font-size: 30px;
  color: #F9A123;
}

#tabs .tabContent #rangeKreditPayment,
#tabs .tabContent #rangeIpotekaPayment,
#tabs .tabContent #rangeStrahPayment {
  font-size: 30px;
  color: #4E8A6B;
}

#tabs .tabContent .rangekreditpayment_text {
  margin-left: 10%;
}

#tabs .hide {
  display: none;
}

#tabs .show {
  display: grid;
}

.range {
  width: 90%;
}

.range__value {
  text-align: right;
}

.form-group {
  display: grid;
  font-size: 15px;
  line-height: 65px;
  color: #373535;
}

.range__text {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.range__slider [type=range] {
  width: 100%;
  -webkit-appearance: none;
  height: 2px;
  border-radius: 6px;
  background: #f1f1f1;
  border-radius: 3px;
}

/* custom thumb */
.range__slider [type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FFFFFF;
  border: #E15601 5px solid;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

.range__slider [type=range]::-webkit-slider-thumb:hover {
  background: #f0932b;
}

.range__slider [type=range]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border: 0;
  border-radius: 50%;
  background: #f0932b;
  border: #f9ca24 5px solid;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

.range__slider [type=range]::-moz-range-thumb:hover {
  background: #f9ca24;
}

/* remove border */
input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

.footer {
  height: 582px;
  max-width: 1440px;
  grid-area: footer;
  display: grid;
  grid-template-rows: max-content max-content max-content max-content max-content;
  background: rgba(239, 249, 240, 0.5);
  font-weight: 300;
  font-size: 15px;
  line-height: 13px;
  padding-left: 139px;
  padding-right: 106px;
  padding-top: 70px;
}

.footer .footer_part1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer .footer_part2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 48px;
  margin-bottom: 48px;
}

.footer .footer_part3 {
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

.footer .footer_part4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 97px;
  font-size: 12px;
}

.footer .footer_part5 {
  display: grid;
  justify-content: end;
  font-weight: 600;
  font-size: 12px;
  line-height: 11px;
  color: #807C7C;
}

.footer input {
  width: 318px;
  height: 47px;
  background: #FFFFFF;
  border-radius: 3px;
  border: none;
}

.footer .text-find::placeholder {
  font-weight: 600;
  font-size: 15px;
  line-height: 11px;
  letter-spacing: 0.035em;
  text-transform: capitalize;
  color: #E15601;
  padding-left: 5px;
}

.footer a {
  text-decoration: none;
  color: #373535;
}

.footer .footer-footer_part1__big {
  text-transform: uppercase;
}

.footer .footer_part1__link {
  display: grid;
}

.footer .footer_part1__tel {
  font-weight: 700;
  font-size: 29px;
  line-height: 11px;
  text-transform: capitalize;
  color: #4E8A6B;
}

.footer .footer_part1__textfortel {
  font-weight: 600;
  font-size: 12px;
  line-height: 11px;
  color: #807C7C;
}

.footer .social-network__link {
  justify-self: end;
  padding-right: 135px;
}

.footer .social-network__img {
  padding-left: 45px;
}

/*# sourceMappingURL=style.css.map */